/* responsive css */
/* mobile css */
@media only screen and (max-width: 667px) {
    .sm-hidden {
        display: none;
    }

    .div1 {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    .area {
        flex-direction: column;
    }

    .footer-inner {
        flex-direction: column;
    }

    .location {
        margin: inherit;
    }

    .contanier-padding {
        padding: 10px 15px;
    }

    .div4 img {
        width: 470px;
    }

    .mobile-navbar {
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 0px;
        top: 0;
        text-align: left;
        box-shadow: 10px 10px 20px gray;
        max-width: 300px;
        z-index: 1000;
        display: none !important;
        transition: 0.5s all;
    }

    .mobile-navbar li a {
        display: block !important;
        padding: 20px;
        margin: 20px;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        transition: .5s all;
        border-radius: 30px;
    }

    .mobile-navbar .nav-logo {
        padding-top: 10px;
        margin: 0 auto;
    }

    .mobile-navbar-expanded {
        display: block !important;
    }

    .mobile-menu-icon {
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }

    .search-box {
        max-width: 200px !important;
        margin-top: 30px;
    }

    .search-box::before {

        content: "";
        position: absolute;
        height: 35px;
        border-right: 1px solid;
        left: 200px;
        top: 12px;
        color: #b7abab;

    }

    .search-box input {
        width: 90%;
    }

    .cart {
        background: var(--collor-red);
        position: absolute;
        width: 20px;
        display: inline-block;
        height: 20px;
        border-radius: 20px;
        right: -30px;
        top: 2px;
        text-align: center;
        color: var(--color-white);
        box-shadow: 0px 0px 10px rgb(235, 42, 42);
        text-align: center;
        font-size: 12px;
    }

    .cart {
        background: var(--collor-red);
        position: absolute;
        width: 20px;
        display: inline-block;
        height: 20px;
        border-radius: 20px;
        right: -30px;
        top: 2px;
        text-align: center;
        color: var(--color-white);
        box-shadow: 0px 0px 10px rgb(235, 42, 42);
        text-align: center;
        font-size: 12px;
    }

    .shopping-cart.fa-solid.fa-cart-shopping.cursor-pointer {
        position: absolute;
        right: 0px;
        color: #b9a7a7;
        top: 20px;
        font-size: 15px;
        cursor: pointer;
    }

    .cart-menu {
        color: red;
        font-size: 25px;
        position: relative;
        left: 65px;
    }

    .shopping-cart {
        color: #FF7E00;
        font-size: 25px;
        position: absolute;
        right: 75px;
    }

    .cart-section::after {
        content: "";
        position: absolute;
        height: 57px;
        border: 1px solid #bba6a6;
        top: 0;
        right: 170px;
    }
}

/* mobile css */
@media only screen and (min-width: 668px) {
    .md-hidden {
        display: none !important;
    }
}